<div class="container">
  <h2>{{ aluno.nome | uppercase }} {{ aluno.sobrenome | uppercase}}</h2>
  <div class="media">
    <img
      class="align-self-start mr-3"
      src="assets/avatar.jpg"
      alt="foto-perfil"
    />
    <div class="media-body">
      <h5 class="mt-0"></h5>
      <p>
        <strong>Registro Acadêmico: <br /></strong>
        {{ aluno.id | uppercase }}
      </p>
      <p>
        <strong>Curso: <br /></strong>
        {{ aluno.curso }}
      </p>
      <p>
        <strong>Nota: <br /></strong>
        {{ aluno.nota }}
      </p>
      <p>
        <strong>Situação: <br /></strong>
        {{ aluno.situacao }}
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
    <h5>Identificaçao:</h5>
    <label for="id"><strong>Idade:</strong></label>
    <span> {{ aluno.idade }} </span>
</div>

<div class="container-fluid">
    <h5>Filiação:</h5>
    <label for="id"><strong>Mãe:</strong></label>
    <span> {{ aluno.filiacaoMae }}<br></span>
    <label for="id"><strong>Pai:</strong></label>
    <span> {{ aluno.filiacaoPai }} </span>
</div>

<button type="button" class="btn btn-primary" (click)="voltar()">Voltar</button>
