.container {
    background-color: white;
    border: 1px solid white;
}
.form-row {
    margin-bottom: 10px;
}
#tx-idade {
    width: 150px;
}
#tx-nota {
    width: 150px;
}
label {
    color: black;
}
button {
    margin-bottom: 10px;
}
