<div class="container">
  <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
    <div class="col-3">
      <label for="tx-nome" class="form-label">Nome:</label>
      <input type="text" formControlName="nome" class="form-control" id="tx-nome">
    </div>
    <div class="col-3">
      <label for="tx-nome" class="form-label">Idade:</label>
      <input type="number" formControlName="idade" class="form-control" id="tx-idade">
    </div>
    <div class="col-3">
      <label for="tx-nota" class="form-label">Nota:</label>
      <input type="text" formControlName="nota" class="form-control" id="tx-nota">
    </div>
    <div>
      <button type="submit" class="btn btn-info">{{ textoBotao }}</button>
      <button type="submit" class="btn btn-info" (click)="voltar()"> Voltar </button>
    </div>
  </form>
</div>