<div class="container" *ngIf="carregarLoading; else carregando">
    <div id="filtro" class="col-12">

        <table class="table table-striped table-hover table-light">
            <thead>
                <tr> <!-- Ordena ao clicar no header-->
                    <th (click)="sort('id')">ID do Aluno <span *ngIf="key =='id' ">{{reverse ? '▲' : '▼'}}</span></th>
                    <th (click)="sort('nome')">Nome <span *ngIf="key =='nome' ">{{reverse ? '▲' : '▼'}}</span></th>
                    <th (click)="sort('curso')">Curso<span *ngIf="key =='curso' ">{{reverse ? '▲' : '▼'}}</span></th>
                    <th> Perfil do Aluno</th>
                    <th> Editar Aluno</th>
                    <th> Excluir Aluno</th>
                </tr>
            </thead>
            <tbody> <!-- Ao clicar em cima de algum objeto, é encaminhado para outra page com mais dados sobre ele-->
                <tr *ngFor="let aluno of alunos | orderBy: key : reverse | filter:filtroDePesquisa">
                    <td (click)="descricao(aluno)">
                        {{ aluno.id }}
                    </td>
                    <td (click)="descricao(aluno)">
                        {{ aluno.nome | uppercase}} {{ aluno.sobrenome | uppercase}}
                    </td>
                    <td (click)="descricao(aluno)">
                        {{ aluno.curso }}
                    </td>
                    <td>
                        <button id="perfil" class="btn btn-success" (click)="descricao(aluno)">Perfil</button>
                    </td>
                    <td>
                        <button id="editar" class="btn btn-info" (click)="editar(aluno)">Editar</button>
                    </td>
                    <td>
                        <button id="excluir" class="btn btn-danger" (click)="excluir(aluno)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="filtro">
            <input class="form-control" type="search" list="datalistOptions"
                [(ngModel)]="filtroDePesquisa" id="exampleDataList" placeholder="Filtro de pesquisa">
        </div>
        <button id="cadastrar" class="btn btn-info" (click)="irCadastro()"> Novo Aluno</button>
    </div>
</div>

<ng-template #carregando>
    <div id="preloader">
        <div class="inner">
           <div class="bolas">
              <div></div>
              <div></div>
              <div></div>                    
           </div>
        </div>
    </div>
</ng-template>