.container {
  background-color: white;
  margin: 2% auto 5% auto;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}
#filtro {
  width: 100%;
  cursor: pointer;
}

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(10,23,55,0.3); /* cor do background que vai ocupar o body */
  z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
}
.bolas > div {
display: inline-block;
background: -webkit-gradient(linear, left top, right top, from(#278495), to(#0dcaf0));
background: linear-gradient(to right, #278495, #0dcaf0);
width: 35px;
height: 35px;
border-radius: 100%;
margin: 3px;
animation-name: animarBola;
animation-iteration-count: infinite;
 
}
.bolas > div:nth-child(1) {
  animation-duration:0.75s ;
  animation-delay: 0;
}
.bolas > div:nth-child(2) {
  animation-duration: 0.75s ;
  animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
  animation-duration: 0.75s  ;
  animation-delay: 0.24s;
}

@keyframes animarBola {
0% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
16% {
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  opacity: 0.7;
}
33% {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; 
} 
}
input {
  margin-bottom: 10px;
}
label {
  color: black;
}
button {
  margin: 10px auto;
}
th {
  width: 150px;
  justify-content: center;
  align-items: center;
}
thead > tr > th {
  cursor: pointer;
}
tbody {
  cursor: pointer;
}
#cadastrar {
  background: -webkit-gradient(linear, left top, right top, from(#278495), to(#0dcaf0));
  background: linear-gradient(to right, #278495, #0dcaf0);
}
#editar {
  background: -webkit-gradient(linear, left top, right top, from(#278495), to(#0dcaf0));
  background: linear-gradient(to right, #278495, #0dcaf0);
}
#perfil {
  background: -webkit-gradient(linear, left top, right top, from(#28a745), to(#198754));
  background: linear-gradient(to right, #28a745, #198754);
}
#excluir {
  background: -webkit-gradient(linear, left top, right top, from(#dc3545), to(#b10829));
  background: linear-gradient(to right, #dc3545, #b10829);
}
