<div class="container">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-xl-10 col-md-12">
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
              <div class="col-sm-12 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                  <div class="m-b-25">
                    <img
                      src="../../../../assets/perfil-foto.jpg"
                      class="img-radius"
                      alt="User-Profile-Image"
                    />
                  </div>
                  <h6 class="f-w-600">Pedro Servio</h6>
                  <p>Dev</p>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="card-block">
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informações</h6>
                  <div class="row">
                    <div class="col-sm-12">
                      <p class="m-b-10 f-w-600">Email</p>
                      <h6 class="text-muted f-w-400">
                        pedroservio2010@gmail.com
                      </h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Phone</p>
                      <h6 class="text-muted f-w-400">(61)9 9994-9929</h6>
                    </div>
                  </div>
                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">
                    Redes Sociais
                  </h6>
                  <div class="row">
                    <div class="col-sm-3">
                      <a href="https://www.instagram.com/pedroservio/?hl=pt-br"
                        >Instagram</a
                      >
                    </div>
                      <div class="col-sm-4">
                        <a
                          href="https://www.linkedin.com/in/pedro-servio-5b169120a/"
                          >Linkedin</a
                        >
                    </div>
                    <div class="col-sm-3">
                        <a
                          href="https://t.me/pedroservio"
                          >Telegram</a
                        >
                    </div>
                    <div class="col-sm-2">
                        <a
                          href="https://github.com/pedroserviio"
                          >GitHub</a
                        >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
